<!-- Set your background image for this header on the line below. -->
    <header class="intro-header header2" style="background-image: url('img/')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>Man must explore, and this is exploration at its greatest</h1>
                        <h2 class="subheading">Problems look mighty small from 150 miles up</h2>
                        <span class="meta">Posted by <a href="#">Start Bootstrap</a> on August 24, 2014</span>
                        
                    </div>
                </div>
            </div>
        </div>
    </header>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                   <h1 class= "section-heading">this is the show template <%= params[:id]%> <%= link_to "back", posts_path %> </h1>
                    
						<p>
						<%= @post.body %>
                    <p>
					<%= link_to "edit", edit_post_path(@post) %> |
					 <%= link_to "delete", post_path(@post), method: :delete, data: {confirm: "Are you sure want to delete this post?"} %>
					
					<% if @post.comments.count > 0 %>
						<hr>
						<h2>All Comments:</h2>
						<hr>
						<%= render @post.comments.all.order("created_at DESC") %>
						<% end %>
						
                   
       			</div>
            </div>
        </div>
    </article>
 <div class= "lightbg">					
 <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <h2>Leave a comment</h2>
                <%= form_for [@post, @post.comments.build] do |f| %>

                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                        
                            <%= f.label :name%>
                            <%= f.text_field :name, class: "form-control", placeholder: "name" %>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                   <!-- <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Email Address</label>
                            <input type="email" class="form-control" placeholder="Email Address" id="email" required data-validation-required-message="Please enter your email address.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Phone Number</label>
                            <input type="tel" class="form-control" placeholder="Phone Number" id="phone" required data-validation-required-message="Please enter your phone number.">
                            <p class="help-block text-danger"></p>
                        </div>-->
                    
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <%= f.label :body%>
                            <%= f.text_area :body, class: "form-control", placeholder: "body" %>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            
                            <button < class="btn btn-default" >submit</button>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
    <hr>
						
												
	  

                    
         

